{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import post_card, follow_button with context %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
{% include 'user/_header.html' %}
<div class="row">
    <div class="col-md-12">
        {% if posts %}
        <div class="card-columns">
            {% for post in posts %}
            {{ post_card(post) }}
            {% endfor %}
        </div>
        {% else %}
        <div class="tip text-center">
            <h3>没有微博</h3>
            {% if user == current_user %}
            <a class="btn btn-link" href="{{ url_for('main.upload') }}">发布新微博</a>
            {% else %}
            <a class="btn btn-link" href="{{ url_for('main.explore') }}">发现</a>
            {% endif %}
        </div>
        {% endif %}

{% if posts %}
<div class="page-footer">
    {{ render_pagination(pagination, align='right') }}
</div>
{% endif %}
</div>
{% endblock %}