{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros.html' import post_card with context %}
{% block title %}注册{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          {% for photo in photos %}
                          <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" style="height: 400px;">
                              <img src="{{ url_for('main.get_image', filename=photo.filename, user_id=photo.user.id) }}" class="d-block w-100" alt="...">
                          </div>
                          {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only"></span>
                        </a>
                      </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-header"> <h4> 登陆到 BetterMe</h4></div>
                <div class="card-body">
                    {{ render_form(form) }}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}