{% extends 'base.html' %}
{% from 'macros.html' import post_card, user_card with context %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}主页{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-md-8">
        {% if posts %}
        <div class="card-columns">
            {% for post in posts %}
            {{ post_card(post) }}
            {% endfor %}
        </div>
        {% else %}
        <div class="tip text-center">
            <h3>没有微博</h3>
            去<a class="btn btn-link" href="{{ url_for('main.explore') }}">发现</a>
        </div>
        {% endif %}
        {% if posts %}
      <div class="page-footer">
          {{ render_pagination(pagination, align='right') }}
      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
        {{ user_card(current_user) }}
        <div class="card">
            <div class="card-header">
              热门标签
            </div>
            <ul class="list-group list-group-flush">
              {% for tag in tags %}
              <a href="{{ url_for('main.show_tag', tag_id=tag.id) }}">
              <li class="list-group-item">{{tag.name}} {{tag.posts|count}} </li> </a>
              {% endfor %}
            </ul>
      </div>
    </div>
</div>
{% else %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          {% for photo in photos %}
          <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" style="height: 400px;">
              <img src="{{ url_for('main.get_image', filename=photo.filename, user_id=photo.user.id) }}" class="d-block w-100" alt="...">
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </div>
    <div class="col-md-4 align-self-center">
      <h1>BetterMe</h1>
      <p>Remember every wonderful moment to be a better man.</p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}