{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import post_card, user_card with context %}

{% block title %}搜索: {{ t }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>搜索: {{ t }}</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical">
            <div>
                <a class="nav-item nav-link {% if category == 'post' %}active{% endif %}"
                    href="{{ url_for('.search', t=t, category='post') }}">微博 <span class="badge">{{posts}}</span></a>
            </div>
            <div>
                <a class="nav-item nav-link {% if category == 'user' %}active{% endif %}"
                    href="{{ url_for('.search', t=t, category='user') }}">用户 <span class="badge">{{users}}</span></a>
            </div>
            <div>
                <a class="nav-item nav-link {% if category == 'tag' %}active{% endif %}"
                    href="{{ url_for('.search', t=t, category='tag') }}">标签 <span class="badge">{{tags}}</span></a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% if results %}
        <h5>{{ results|length }} 条结果</h5>
        <div class="card-columns">
            {% for item in results %}
            {% if category == 'post' %}
            {{ post_card(item) }}
            {% elif category == 'user' %}
            {{ user_card(item) }}
            {% else %}
            <a class="badge badge-light" href="{{ url_for('.show_tag', tag_id=item.id) }}">
                {{ item.name }} {{ item.posts|length }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <h5 class="tip">没有匹配结果</h5>
        {% endif %}
    </div>
</div>
{% if results %}
<div class="page-footer">
    {{ render_pagination(pagination, align='right') }}
</div>
{% endif %}
{% endblock %}