{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Upload{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}" type="text/css">
    {{ dropzone.style('margin: 20px 0; border: 2px dashed #0087F7; min-height: 200px;') }}
{% endblock %}

{% block content %}

<div class="card mb-3 w-100 bg-light">
    <div class="row">
        <div class="col-md-4">
            <div class="card-header">
                <h4>新微博</h4>
            </div>
            <div class="card-body">
                {{ render_form(form) }}
            </div>
        </div>
        <div class="col-md-8">
            {{ dropzone.create(action='main.upload') }}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    {{ dropzone.config() }}
{% endblock %}
