{% extends 'admin/index.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}管理微博{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', '后台主页') }}
            {{ render_breadcrumb_item('admin.manage_post', '管理微博') }}
        </ol>
    </nav>
    <div class="page-header">
        <h1>微博
            <small class="text-muted">{{ pagination.total }}</small>
            <span class="dropdown">
            <button class="btn btn-secondary btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                按照 {{ order_rule }} <span class="oi oi-elevator"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('.manage_post', order='by_time') }}">按照发布时间</a>
            </div>
        </span>
        </h1>
    </div>
    {% if posts %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>微博正文</th>
                <th>标签</th>
                <th>用户/th>
                <th>日期</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for post in posts %}
                <tr>
                    
                    <td><a href="{{ url_for('main.show_post', post_id=post.id) }}">{{ post.body}}</a></td>
                    <td>
                        {% if post.tags %}
                            {% for tag in post.tags %}
                                <form class="inline" method="post"
                                      action="{{ url_for('admin.delete_tag', tag_id=tag.id, next=request.full_path) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" class="btn badge mb-1"
                                            onclick="return confirm('确定删除?');">
                                        {{ tag.name }} <span class="oi oi-trash" aria-hidden="true">
                                </span>
                                    </button>
                                </form>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('user.index', username=post.user.username) }}">{{ post.user.name }}</a>
                    </td>
                    <td>{{ post.flag }}</td>
                    <td>{{ moment(post.timestamp).format('LL') }}</td>
                    <td>
                        <form class="inline" method="post"
                              action="{{ url_for('main.delete_post', post_id=post.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('确定删除？');">删除
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有微博</h5></div>
    {% endif %}
{% endblock %}