{% macro post_card(post) %}

<div class="card">
    {% if post.photos %}
    <a  href="{{ url_for('main.show_post', post_id=post.id) }}">
    <img src="{{ url_for('main.get_first_image', post_id=post.id) }}" class="card-img-top" >
    </a>
    {% endif %}
    <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ url_for('user.index', username=post.user.username) }}">
                    <img class="" 
                    src="{{ url_for('main.get_avatar', filename=post.user.s_avatar) }}">
                </a>
            </div>
            <div class="col-md-9">
                    <h6>
                    <a href="{{ url_for('user.index', username=post.user.username) }}">{{ post.user.name }}</a>
                    </h6>
            </div>
        </div>
    </div>
    <div class="card-footer">
    <a  href="{{ url_for('main.show_post', post_id=post.id) }}">
        <small><span class="oi oi-comment-square"></span> {{ post.comments|length }}</small>
        {% if post.collectors %}
        <small><span class="oi oi-heart"></span> {{ post.collectors|length }} </small>
        {% endif %}
        </a>
        <small class="text-muted">at {{ moment(post.timestamp).format('LL') }}</small>
    </div>
</div>

{% endmacro %}

{% macro show_post_photos(photos) %}
    {% for photo in photos %}
    {% if loop.index % 3 == 1 %}
        <div class="row">
    {% endif %}
    <div class="col-sm-4">
        <div class="card">
            <a href="{{ url_for('main.get_image', filename=photo.filename, user_id=photo.user.id) }}" target="_blank">
                <img class="card-img-top" src="{{ url_for('main.get_image', filename=photo.s_filename, user_id=photo.user.id) }}">
            </a>
        </div>
    </div>
    {% if loop.index % 3 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
{% endmacro %}

{% macro follow_button(user) %}
    {% if current_user.is_authenticated %}
        {% if user != current_user %}
        <button data-id="{{ user.id }}"
                data-href="{{ url_for('ajax.unfollow', username=user.username) }}"
                class="{% if not current_user.is_follow(user) %}hide{% endif %} btn btn-dark btn-sm unfollow-btn">
            Unfollow
        </button>
        <button data-id="{{ user.id }}"
                data-href="{{ url_for('ajax.follow', username=user.username) }}"
                class="{% if current_user.is_follow(user) %}hide{% endif %} btn btn-primary btn-sm follow-btn">
            Follow
        </button>
        {% endif %}
    {% else %}
        <form class="inline" method="POST" action="{{ url_for('user.follow', username=user.username) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-outline-secondary btn-sm">
                Follow
            </button>
        </form>
    {% endif %}
{% endmacro %}

{% macro user_card(user) %}
<div class="card bg-light mb-3 w-100">
        <div class="card-body">
            <div class="row">
                <a href="{{ url_for('user.index', username=user.username) }}">
                    <img class="sidebar-avatar rounded avatar-m"
                         src="{{ url_for('main.get_avatar', filename=user.m_avatar) }}">
                </a>
                <div class="sidebar-profile">
                    <h6 class="card-title">
                        <a href="{{ url_for('user.index', username=user.username) }}">{{ user.name }}</a>
                    </h6>
                    <p class="card-subtitle mb-2 text-muted">{{ user.username }}</p>
                    {{ follow_button(user) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

